<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Информация о заказе</title>
  <link th:href="@{/css/admin/orderInfo.css}" type="text/css" rel="stylesheet">
</head>
<body>
<form method="POST" th:action="@{/logout}">
  <button type="submit">Выйти из личного кабинета</button>
</form>
<br>
<a href="/admin">Назад в личный кабинет</a>
<br>
<a href="/admin/orders">Назад к списку заказов</a>
<hr>
<br>
<h3>Информация о заказе: </h3>
<form th:method="post" th:action="@{/admin/order/{id}(id=${order.id})}" th:object="${order}">
  <table>
    <tr>
      <th>Номер заказа:</th>
      <td th:text="${order.getOnumber()}"></td>
    </tr>
    <tr>
      <th>Дата заказа:</th>
      <td th:text="${#temporals.format(order.getDateTime(), 'dd-MMM-yyyy')}"></td>
    </tr>
    <tr>
      <th>Состав заказа:</th>
      <td th:text="${order.getProduct().getTitle()}"></td>
    </tr>
    <tr>
      <th>Стоимость:</th>
      <td th:text="${order.getPrice()}"></td>
    </tr>
    <tr>
      <th>Логин покупателя:</th>
      <td th:text="${order.getPerson().getLogin()}"></td>
    </tr>
    <tr>
      <th>ID покупателя:</th>
      <td th:text="${order.getPerson().getId()}"></td>
    </tr>
    <tr>
      <th>Статус заказа:</th>
      <td>
        <select name="status" id="status">
          <option th:each="orderStatus: ${status}" th:text="${orderStatus}" th:value="${orderStatus}" th:selected="${order.getStatus().equals(orderStatus)}"></option>
        </select>
        <input type="submit" value="Изменить статус">
      </td>
    </tr>
  </table>
</form>
<!--<form method="post" th:action="@{/admin/order/{id}/delete}">-->
<!--  <input type="hidden" name="orderId" th:value="${order.id}">-->
<!--  <button type="submit" onclick="return confirm('Вы уверены, что хотите удалить заказ?')">Удалить заказ</button>-->
<!--</form>-->
</body>
</html>